.card__like-btn {
  padding: 10px;
  border: 0;
  background-image: url("../../../images/like-icon-white.svg");
  background-color: #fff;
  width: 21px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: 0;
}

.card__like-btn:hover {
  opacity: 0.6;
  transition: 0.5s;
}
