.profile__title {
  display: flex;
  align-items: baseline;
  max-width: 550px;
}

@media screen and (max-width: 640px) {
  .profile__title {
    text-align: center;
    max-width: 380px;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    max-width: 280px;
  }
}
