.profile__avatar-edit-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);
  background-image: url("../../../images/edit-icon.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
}

.profile__avatar-edit-btn:hover {
  opacity: 1;
  transition: 0.5s;
}

