.places {
  margin: 0 auto;
  padding: 51px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 21px 18px;
  list-style: none;
}

@media screen and (max-width: 920px) {
  .places {
    max-width: 582px;
  }
}

@media screen and (max-width: 640px) {
  .places {
    max-width: 282px;
  }
}
